server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;
    access_log off;

    add_header X-Web-Instance "${WEB_INSTANCE_ID}" always;
    add_header Cache-Control "no-store" always;
}
